.menu {
  display: none;

  @include onNoteBook {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;

    &__links {
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #fff;

      @include hover(color, #000);
    }

    &__area {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 125px;
      background-color: rgb(4, 52, 148);
      border-radius: 10px;
    }
  }
}

.menus {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__content {
    height: 100vh;
    box-sizing: border-box;
  }

  &-link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;

    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    transition: border-color 0.3s;

    &:hover {
      border-color: #2060f6;
      color: #2060f6;
    }
  }

  &-top {
    margin-bottom: 48px;
  }
}

.cross {
  display: block;
  width: 40px;
  height: 40px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
